In [59]:
import numpy as np
import pandas as pd
from datetime import datetime
from src.data_loader.data_loader import load_google_mobility, load_deaths, load_interventions, load_counties, load_google_mobility_time_series
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
mobility, mobility_date = load_google_mobility()
deaths, deaths_date = load_deaths()
interventions, interventions_date = load_interventions()

In [32]:
mobility.head(10)

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
5,AE,United Arab Emirates,NaN,NaN,2020-02-20,-2.0,1.0,6.0,1.0,1.0,1.0
6,AE,United Arab Emirates,NaN,NaN,2020-02-21,-3.0,2.0,6.0,0.0,-1.0,1.0
7,AE,United Arab Emirates,NaN,NaN,2020-02-22,-2.0,2.0,4.0,-2.0,3.0,1.0
8,AE,United Arab Emirates,NaN,NaN,2020-02-23,-1.0,3.0,3.0,-1.0,4.0,1.0
9,AE,United Arab Emirates,NaN,NaN,2020-02-24,-3.0,0.0,5.0,-1.0,3.0,1.0

In [37]:
mobility = mobility[mobility.loc[:,'country_region_code'] == 'US']

In [40]:
mobility = mobility.drop(labels=['country_region_code', 'country_region'], axis=1)

In [55]:
mobility.dropna(axis='rows',subset=['sub_region_1','sub_region_2'], inplace=True)

In [57]:
mobility.dropna(axis='rows', subset=['retail_and_recreation_percent_change_from_baseline'], inplace=True)

-21667

In [70]:
mobility_ts = load_google_mobility_time_series()[0]

In [71]:
mobility_ts.head(10)

      sub_region_1    sub_region_2        date  mean_percent_change
67206      Alabama  Autauga County  2020-02-15                  5.0
67207      Alabama  Autauga County  2020-02-16                  0.0
67208      Alabama  Autauga County  2020-02-17                  8.0
67209      Alabama  Autauga County  2020-02-18                 -2.0
67210      Alabama  Autauga County  2020-02-19                 -2.0
67211      Alabama  Autauga County  2020-02-20                 -8.0
67212      Alabama  Autauga County  2020-02-21                 -3.0
67213      Alabama  Autauga County  2020-02-22                  1.0
67214      Alabama  Autauga County  2020-02-23                  0.0
67215      Alabama  Autauga County  2020-02-24                 -2.0